body {
    background-color: #03042c;
  }
  
  .cursor {
    z-index: 10;
    position: fixed;
    background: #2696E8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* pointer-events at which point pointer and mouse pointer both gets visible*/
    pointer-events:none;
    box-shadow: 0 0 200px #2696E8, 0 0 60px #2696E8, 0 0 20px #2696E8;
    transform: translate(-50%, -50%);
    animation: colors 5s infinite;
    display: none;
}

@keyframes colors{
    0%{filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}
.cursor::before {
    content: "";
    position: absolute;
    background: #2696E8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}

.main-container{
    cursor:none;
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}
.container{
    width:500px;
    height: 500px;
   display:grid;
   grid-template-rows: 1fr 1fr 1fr; 
   grid-template-columns: 1fr 1fr 1fr;
   gap:0px;
}
.odd{
    display: flex;
   justify-content: center;
    font-family:cursive;
    font-size: 100px;
    background-color: rgb(215, 176, 230,1);
}
.even{
    display: flex;
    justify-content: center;
     font-family:cursive;
     font-size: 100px;
    background-color: rgba(121, 202, 242 );
}
#result {
    font-size: 5rem;
    color: azure;
    font-family: cursive;
    font-weight: 400;
    display: flex;
    height: 50px;
    width: 100%; /* Make it full width */
    bottom: 10px;
    justify-content: center;
    align-items: center;
}
